.titulo {
    font-family: Knockoutx,sans-serif;
    font-size: 2.5rem;
    text-align: center;
    color: rgb(82, 60, 60);
    margin: 5px;
}

.txt-cent {
    text-align: center;
}

.img-header {
    max-width: 80px;
    max-height: 80px;
}

.img-cart {
    max-width: 60px;
    max-height: 60px;
    cursor: pointer;
}

.header-st {
    background: #8a391e73;
    border-bottom: 1px solid #8a391e73;
}

.cart {
    color: white;
    position: relative;
    border-radius: 36px;
    text-align: center;
    left: -15px;
    top: -45px;
    font-size: 19px;
    width: 35px;
    display: inline-block;
    background-color: green;
    cursor: pointer;
}

/* ----------------------- Estilos de Menu ------------------------- */
::ng-deep body .ui-panelmenu .ui-panelmenu-header > a {
    border: 1px solid #f15c2ad0;
    background-color: #f15c2ad0;
    color: black;
}

::ng-deep body .ui-panelmenu .ui-panelmenu-header.ui-state-active > a {
    border: 1px solid #f15c2ab2;
    background-color: #f15c2ab2;
    color: black;
}

::ng-deep body .ui-panelmenu .ui-panelmenu-header.ui-state-active > a:hover {
    border: 1px solid #f15c2ab2;
    background-color: #f15c2ab2;
    color: black;
}

::ng-deep body .ui-panelmenu .ui-panelmenu-content .ui-menuitem .ui-menuitem-link {
    border: 1px solid #ffffff8e;
    background-color: #ffffff8e;
}

::ng-deep body .ui-button {
    border: 1px solid #f15c2ab2;
    background-color: #f15c2ab2;
}

::ng-deep body .ui-button:enabled:active {
    border: 1px solid #f15c2ab2;
    background-color: #f15c2ab2;
}

::ng-deep body .ui-button:enabled:hover {
    border: 1px solid #f15c2ab2;
    background-color: #f15c2ab2;
}

.menu-button {
    display: none;
}

.menu-content {
    display: block;
    background: #8a391e73;
    height: 800px;
}

/** ---------------------- Estilos del DataView ----------------------- **/

::ng-deep body .ui-dataview .ui-dataview-header {
    background-color: #a1786d3a;
}

::ng-deep body .ui-dataview .ui-dataview-content {
    background-color: #e6dedc2f;
}

::ng-deep body .ui-paginator {
    background-color: #a1786d3a;
}

::ng-deep body .ui-panel .ui-panel-titlebar {
    background-color: #a1786d3a;
}

::ng-deep body .ui-panel .ui-panel-content {
    background-color: #8a83823a;
}

::ng-deep body .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active {
    background-color: #f15c2ab2;
}

/**Media query para manejar el responsive del Menu */
@media screen and (max-width: 767px) {
    .menu-button {
        display: block;
    }

    #im-izq {
        display: none;
    }

    .menu-content {
        width: 80%;
        margin: 0px;
        position: fixed;
        top: 75px;
        z-index: 2;
        left: -100%;
    }

    .img-header {
        max-width: 60px;
        max-height: 60px;
    }

    .header-st {
        height: 75px;
    }

    .hd-prod {
        text-align: center;
    }

    .titulo {
        font-size: 17px;
    }

    .cart {
        left: -10px;
        top: -29px;
        font-size: 19px;
        width: 30px;
    }
    
    .img-cart {
        max-width: 40px;
        max-height: 40px;
    }

    .cart-dv {
        height: 60px;
    }
}

@media screen and (max-width: 360px) {
    .cart {
        left: 12px;
        top: -50px;
        font-size: 19px;
        width: 30px;
    }
}